{% extends "layouts.html" %}

{% block content %}
<div class="text-center h1">Registrar</div>
<div class="container">
    {% from "_formulario_ajuda.html" import render_field %}
    <form method="post" enctype="multipart/form-data">
        <div>
            {{ render_field(form.nome) }}
            {{ render_field(form.usuario) }}
            {{ render_field(form.email) }}
            {{ render_field(form.senha) }}
            {{ render_field(form.confirmacao) }}
            <input type="file" name="photo">
        </div>
        <p><input type=submit value="Registrar" class="btn btn-info"></p>
    </form>
</div>
{% endblock content %}