{% extends "layouts.html" %}

{% block content %}
<div class="text-center h1 mt-4">Pagina de Registro</div>
<div class="container">
    {% from "_formulario_ajuda.html" import render_field %}
    <form method="post" enctype="multipart/form-data">
        <div>
            {{ render_field(form.name, class="form-control") }}
            {{ render_field(form.username, class="form-control") }}
            {{ render_field(form.email, class="form-control") }}
            {{ render_field(form.password, class="form-control") }}
            {{ render_field(form.confirmacao, class="form-control") }}
            <input type="file" name="photo">
        </div>
        <p><input type=submit value="Registrar" class="btn btn-success mt-2"></p>
    </form>
</div>
{% endblock content %}